<!--/ Slogan Box - Bottom -->

<div class="parallax-section parallax-image-2">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="parallax-content clearfix">
                        <h1 class="xlarge"> Trusted Seller 500+ </h1>
                        <h5 class="parallaxSubtitle"> Lorem ipsum dolor sit amet consectetuer </h5>
                        <div style="clear:both"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/.parallax-section-->